

.mood0 {
    background-color: #333333;
    color: #ffffff;
}

.mood0 {
    background-color: #333333;
    color: #ffffff;
}

.mood1 {
    background-color: #555555;
    color: #ffffff;
}

.mood2 {
    background-color: #707070;
    color: #ffffff;
}

.mood3 {
    background-color: #777777;
    color: #ffffff;
}

.mood4 {
    background-color: #909090;
    color: #000000;
}

.mood5 {
    background-color: #999999;
    color: #000000;
}

.mood6 {
    background-color: #B0B0B0;
    color: #000000;
}

.mood7 {
    background-color: #bbbbbb;
    color: #000000;
}

.mood8 {
    background-color: #d0d0d0;
    color: #000000;
}

.embossedCard {
    border-radius: 16px;
    padding: 2px 16px 4px 16px;
    margin: 16px auto !important;
    box-shadow: 2px 2px 2px #000000, inset 1px 1px 1px #ffffff;
}

span.enabledChoiceLight {
    text-decoration-line: underline;
    color: lightblue;
    cursor: pointer;
}

span.enabledChoiceDark {
    text-decoration-line: underline;
    color: blue;
    cursor: pointer;
}

span.disabledChoiceDark {
    text-decoration-line: underline;
    color: #333333;
    cursor: not-allowed;
}

span.disabledChoiceLight {
    text-decoration-line: underline;
    color: #dddddd;
    cursor: not-allowed;
}

.splash {
    margin: 0 auto;
}

@media screen and (width >= 544px) {
    .embossedCard {
        max-width: 512px;
    }

    .splash {
        max-width: 512px;
    }
}

@media screen and (width < 544px) {
    .embossedCard {
        max-width: 256px;
    }

    .splash {
        max-width: 256px;
    }
}
