

.splash {
    margin: 0 auto;
}

@media screen and (width >= 544px) {
    .embossedCard {
        max-width: 512px;
    }

    .splash {
        max-width: 512px;
    }
}

@media screen and (width < 544px) {
    .embossedCard {
        max-width: 256px;
    }

    .splash {
        max-width: 256px;
    }
}
